.section {
    text-align:center;
    font-size: 3em;
  }

.background{
    background: url("../media/convolution/background.png");
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}

.title h1{

    color: white;
    text-align: center;
    position: absolute;
    width: 100%;

}



/*convolution(section 1)*/


#left_convolution{
    background-image: url("../media/convolution/Rectangle_convo.png");
    height: 100vh;
    width: 100%;
    background-size: 100% auto;
    position: absolute;
    z-index: 0;
    background-repeat: no-repeat;

}

#right_convolution{
    background-image: url("../media/convolution/right_convolution.png");
   position: absolute;
   height:100vh;
   width: 100vw;
   background-repeat: no-repeat;
   background-size: 100% auto;
   position: absolute;
   z-index: 0;
}

#left_convolution_content{
    font-size:15px;
    position: absolute; 
    color: white;
    text-align: justify;
    margin-top: 50%;

}









