* {
    letter-spacing: 3px;
}

body{
    overflow: hidden;
}
.heading{
    font-family: 'Roboto', sans-serif;
}

.left_side{
    background-color:#060C20;
    height: 100vh;
    overflow: hidden;
}

.right_side{
    background-color:white;
    height: 100vh;
    overflow-y: auto;
    }

button{
    background-color:#2196F3;
    width: 60%;
    border-radius:0px;
}

#left_content{
    align-content: center;
    color: antiquewhite;
    margin-top: 10%;
 }
p{
    color:beige;
    margin-left: 8%;
}

i{
    margin-right: 5%;
}

#phone,
#email{
    color: #00AD5E;
}

.left{
    margin-top: 5%;
}

iframe{
    width: 100%;
    height: 245px;
    margin-top: 10%;
}

.form-group {
    width:90%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.form-control {
    background-color:inherit;
    border-radius: 0px;
    font-size: 13px;
}

label{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width:480px){
    body{
        overflow: visible;
    }

    iframe{
        height: 150px;
    }
   
}

@media only screen and (min-width:636px) and (max-width:767px){
    iframe{
        width: 110%;
    }
}


@media only screen and (max-width : 767px)  {
    body{
   overflow: visible;
    }
 
    iframe{
    height: 150px;
    }
   .right_side {
       overflow-y:auto;
       height: auto;
   }
   #left_content{
    margin-top: 15%;
    }

}

@media only screen and (min-width:636px) and (max-width:1088px){

        iframe{
            margin-top: 5px;
        }
}