body{
    margin: 0;
    padding: 0;
}

.title a{
    text-align:left;
    position: absolute;
}
.left_globetrot{
    background: url("../media/globetrot/leftimg_globetrot1.png");
    height: 100vh;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 0;
    margin: 0;
    padding: 0;
}
.right_globetrot{
    background: url("../media/globetrot/Rectangle.png");
    height: 100vh;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 0;
    margin: 0;
    padding: 0;
}
#globetrot_content{
    font-size: 15px;
    color: white;
    text-align: justify;
    margin: 23%;
}


@media only screen and (max-width: 480px){
    .left_globetrot{
        background: url("../media/globetrot/globetrot_logo.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin-top: 20%;
    }

    #globetrot_content{
        font-size: 12px;
        margin: 5%;
        margin-top: 80%;
    }
}

@media only screen and (min-width: 480px) and (max-width:770px){
    .right_globetrot{
        background-size: 120%;
        margin-top: 50%;
    }
    #globetrot_content{
        font-size: 10px;
        margin: 0;
    }
    .left_globetrot{
            background: url("../media/globetrot/globetrot_logo.png");
            background-repeat: no-repeat;
            background-size: 80%;
            margin-top: 10%;
            margin:10%;
        }
    }
}


@media only screen and (min-width: 950px) {

    .right_globetrot{
     background-size: 50%;
    }

    #globetrot_content{
        font-size: 12px;
    }

}