#left_phoenix{
    background-image: url("../media/phoenix/Rectangle_pheonix.png");
     position: absolute;
     height: 100vh;
     width: 100%;
     z-index: 0;
     background-repeat: no-repeat;
     background-size: 100% auto;
 
 }
 
 #right_phoenix{
 background-image: url("../media/phoenix/right_phoenix.png");
    position: absolute;
    height:100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    z-index: 0;
 }
 
 #left_phoenix_content{
     font-size:15px;
     position: absolute; 
     color: white;
     margin-top: 55%;
     text-align: justify;
 }
 
 
 #heading_phoenix{
     font-size: 20px;
     color: white;
     bottom: 50%;
     margin-bottom: 30%;
     position: absolute;
 }
 
 #phoenix_content{
     visibility: hidden;
     
 }


 /*media queries section 3(pheonix)*/


@media only screen and (max-width: 800px) and (min-width: 680px){

    #left_phoenix{
        background-size: 150%;
    }

    #right_phoenix{
        background-size: 150%;
    }
    #phoenix_content{
        visibility: hidden;
    }

}

@media only screen and (max-width: 900px) and (min-width: 801px){
    #phoenix_content{
        visibility: hidden;
    }
 
}

@media only screen and (min-width: 900px){
    #phoenix_content{
        visibility: hidden;
    }
}

@media only screen and (max-width: 680px) and (min-width: 480px){
    #phoenix_content{
        visibility: hidden;
    }

    h1{

        left: 30%;
    }    
    #rectangle{
        and (min-width: 480px)
    }
    
    #left_phoenix_content{
        font-size:15px;
        max-width: auto;
        text-align: justify;
        max-width: 300px;
    }
    
    #right_phoenix{
        background-size: ;
    }
    
    #heading_phoenix{
        font-size: 20px;
        position: absolute;

    }


}

@media only screen and (max-width: 480px){
    h1{

    left: 30%;
    }    
    #rectangle{
        visibility:hidden;
    }

    #left_phoenix_content{
        font-size:15px;
        top: 20%;
        max-width: auto;
        text-align: justify;
        max-width: 300px;
    }

    #right_phoenix{
        background-size:;
    }

    #heading_phoenix{
        font-size: 20px;
        position: absolute;
    }

}