/*rgpv section 5*/
#left_rgpv{
    background-image: url("../media/rgpv/Rectangle.png");
    margin-top: 9%;
    height:100vh;
    width: 100%;
    background-size: 100% auto;
    position: absolute;
    z-index: 0;
    background-repeat: no-repeat;

}

#right_rgpv{
    background-image: url("../media/rgpv/right_rgpv.png");
   position: absolute;
   height:100vh;
   width: 100vw;
   background-repeat: no-repeat;
   background-size: 100% auto;
   position: absolute;
   z-index: 0;
}

#left_rgpv{
    font-size:20px;
    position: absolute; 
    color: white;
    max-width: 500px;
    margin-bottom: 10%;
    text-align: justify;


}


