/*---Section 4----*/

.title h1{

    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
}
.title a{
    text-align:left;
    position: absolute;
}
.left_uit{
    background: url("../media/uit/left_uit.png");
    height: 100vh;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 0;
    margin: 0;
    padding: 0;
}
.right_uit{
    background: url("../media/uit/Rectangle_uit.png");
    height: 100vh;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 0;
    margin: 0;
    padding: 0;
}
#uit_content{
    font-size: 15px;
    color: white;
    text-align: justify;
    margin: 23%;
}


@media only screen and (max-width: 480px){
    .left_uit{
        background: url("../media/uit/uit_logo.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin-top: 20%;
    }

    #uit_content{
        font-size: 12px;
        margin: 5%;
        margin-top: 80%;
    }
}

@media only screen and (min-width: 480px) and (max-width:770px){
    .right_uit{
        background-size: 120%;
        margin-top: 50%;
    }
    #uit_content{
        font-size: 10px;
        margin: 0;
    }
    .left_uit{
            background: url("../media/uit/uit_logo.png");
            background-repeat: no-repeat;
            background-size: 80%;
            margin-top: 50%;
    
        }
    }
}


@media only screen and (min-width: 950px) {

    .right_uit{
     background-size: 50%;
    }

    #uit_content{
        font-size: 12px;
    }

}

